@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Archivo:wght@100..900&display=swap');

@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-netflix-heading: "Bebas Neue", sans-serif;
  --font-netflix-sans: "Archivo", sans-serif;
}

*{
     font-family: var(--font-netflix-sans);
}


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.slider
{
    -webkit-appearance: none;
    height: 100%;
    background: transparent;
}


.slider::-webkit-slider-thumb
{
    appearance:none;
    width:30px;
    min-height:30px;
    background-image: url(./assets/slide_icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.bg-layer {
  /* Use 'contain' or 'cover' so the image is visible */
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/Loader_bg_light.webp);
  /* Optional: smoothing the transition between images */
  transition: background-image 0.5s ease-in-out;
}

/* Dark mode image swap */
.dark .bg-layer {
  background-image: url(/Loader_bg_dark.webp);
}